Installation and configuration of sargon's shoebox script:<br>
1. Make the "thumbs" directory writable by your web server.<br>
2. Edit shoebox.php and configure.<br>
3. Upload pictures into shoebox-data/pics/.  Directory structure there will be maintained.<br>
4. If desired, edit a file called "text.txt" in each sub-directory to add descriptions.<br>
5. If desired, edit a file called "favs.txt" in each sub-directory to list files as favorites (one filename per line).<br>
<br>
To force regeneration of all thumbs, go to "http://your-server/path-to-shoebox/shoebox-data/clear_thumbs.php".<br>
